QWidget{
    font: 15px;
}

QLabel{
    font: 20px;
    background-color: lightcyan;
}

QHeaderView::section {
    background-color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

QTableCornerButton::section{
    background-color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}